@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

.Barlow-ExtraBold {
    font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
}
.Barlow-Bold,
.PFDinTextCompPro-Bold,
body strong {
    font-family: 'cursive';
    font-weight: 700;
}
.Barlow-Medium,
.PFDinTextCompPro-Medium {
    font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.Barlow-Regular,
.PFDinTextCompPro-Regular {
    font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.Barlow-Light,
.PFDinTextCompPro-Light,
.categoryDescription {
    font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}


.colors{
    color: #f2d968;
    cursor: pointer;
}
.colors:hover{
    color: black;
}
.fuente{

   font-size: 12px;
}
.fuente2{
    color: black;
    font-size: 12px;
 }
 .fuente3{
    font-size: 14px;
 }

 .ancla {
    color: #000;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
  
  .ancla:before {
    background: #fad601;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
   
  }
  
  .ancla:hover::before {
    transform: scaleX(1);
    transform-origin: left;
   
  }



 .divider {
    height:15px;
    width: 1px;
    background-color: #b8b9b8;
    display: inline-block;
    
}


  
.input-wrapper {
    position: relative;
  
  }
  
  
  .reglas_input{
    width: 270px;
    height: 35px;
    background-color: #f3f2f3;
    border: none;
  }
  input:focus{
    outline: none;
}
  
  
.icon1{
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    user-select: none;
    cursor: pointer;
  }
.icon1:hover{
    color: #ff3763;
}
.colors2{
  color: #f2d968;
  cursor: pointer;
}
.colors2:hover{
  color: #ff3763;
}




.container {
 
  transform: scale(0.80);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.container:after {
  background-color: #f2f2f2;
  content: "";
 
  position: absolute;
  
}
.container:hover {
  transform: scale(1);
}

.img {
  pointer-events: none;
  position: relative;
  transform: translateY(10px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.border{
  border-color: #dab897;
  color:#dab897 ;
}

.colorcard1{
  background-color: #feeddb;
}
.glass{
/* From https://css.glass */
background: rgba(151, 194, 196, 0.22);
border-radius: 1px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}
.color_menu{
  color: #e4b38c;
}

.fuente4{
  font-size: 16;
  color: #000;
}
.color_border{
  color: #e4b38c;
}

.ancla_botones {
  color:  #000;
  border-color: #e4b38c;;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.ancla_botones:before {
  background: #e4b38c;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;

}

.ancla_botones:hover::before {
  transform: scaleX(1);
  transform-origin: left;

}

.line {
  font-family: 'Barlow-Light';
  color:  #e4b38c;;
  cursor: pointer;
  position: relative;
 
  font-size: 4vmin;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow:
     0 3px 0 #e4b38c,
    0 7px 0  #f7b178;
  background: #FFA01B ;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.line2 {
  font-family: 'Wendy One', sans-serif;
  color:  rgb(5, 5, 36);
  cursor: pointer;
  position: relative;
  text-shadow:
    -4px 4px 0 orange,
    -6px 6px 0 red;
  font-size: 5vmin;
}



.glass_niñas{

/* From https://css.glass */
background: rgba(49, 42, 156, 0.07);
border-radius: 1px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);


}

.glass_card_niñas{
border-radius: 9px;
border: 1px solid black;
}
.glass_card_niñas2{
  border-radius: 2px;
  border: 1px solid black;
  }

  @media (max-width: 479px) {
    .ocultar{
      display: none;
    }
    .screen_2{
      font-size: 30px;
    }
  }